<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--    <filter>
        <filter-name>NewFilter</filter-name>
        <filter-class>filters.NewFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CheckUser</filter-name>
        <filter-class>filters.CheckUser</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckUser</filter-name>
        <servlet-name>MyReservation</servlet-name>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>NewFilter2</filter-name>
        <filter-class>filters.NewFilter2</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/admin.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/GestionPageAdmin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/AjoutCompagnie</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/AjoutHorraireTrain</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/AjoutTrain</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/AjoutTrajet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/AjoutVille</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/DeleteCompagnie</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/DeleteHorraireTrain</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/DeleteTrain</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/DeleteVoyage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ListVille</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ListeClientServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ListeCompagnie</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ListeHorraireTrain</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ListeTrain</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ListeTrajet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ListeVoyage</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/MofifyCompagnie</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ModifyHorraireTrain</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ModifyTrain</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ModifyTrajet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ModifyVille</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NewFilter2</filter-name>
        <url-pattern>/admin/ModifyVoyage</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServelet</servlet-name>
        <servlet-class>servlets.LoginServelet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVille</servlet-name>
        <servlet-class>servlets.ListVille</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionPageAdmin</servlet-name>
        <servlet-class>servlets.GestionPageAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionPageAjout</servlet-name>
        <servlet-class>servlets.GestionPageAjout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeClientServlet</servlet-name>
        <servlet-class>servlets.ListeClientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeCompagnie</servlet-name>
        <servlet-class>servlets.ListeCompagnie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeTrain</servlet-name>
        <servlet-class>servlets.ListeTrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeTrajet</servlet-name>
        <servlet-class>servlets.ListeTrajet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeHorraireTrain</servlet-name>
        <servlet-class>servlets.ListeHorraireTrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListeVoyage</servlet-name>
        <servlet-class>servlets.ListeVoyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVille</servlet-name>
        <servlet-class>servlets.DeleteVille</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCompagnie</servlet-name>
        <servlet-class>servlets.DeleteCompagnie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTrain</servlet-name>
        <servlet-class>servlets.DeleteTrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTrajet</servlet-name>
        <servlet-class>servlets.DeleteTrajet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHorraireTrain</servlet-name>
        <servlet-class>servlets.DeleteHorraireTrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteVoyage</servlet-name>
        <servlet-class>servlets.DeleteVoyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutVille</servlet-name>
        <servlet-class>servlets.AjoutVille</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutCompagnie</servlet-name>
        <servlet-class>servlets.AjoutCompagnie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutTrain</servlet-name>
        <servlet-class>servlets.AjoutTrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutTrajet</servlet-name>
        <servlet-class>servlets.AjoutTrajet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutHorraireTrain</servlet-name>
        <servlet-class>servlets.AjoutHorraireTrain</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjoutVoyage</servlet-name>
        <servlet-class>servlets.AjoutVoyage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpleSearch</servlet-name>
        <servlet-class>servlets.SimpleSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disconnection</servlet-name>
        <servlet-class>servlets.Disconnection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Voir</servlet-name>
        <servlet-class>servlets.Voir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyReservation</servlet-name>
        <servlet-class>servlets.MyReservation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GestionPageClient</servlet-name>
        <servlet-class>servlets.GestionPageClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetToAdmin</servlet-name>
        <servlet-class>servlets.GetToAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVilleHome</servlet-name>
        <servlet-class>servlets.GetVilleHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>servlets.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnterAdmin</servlet-name>
        <servlet-class>servlets.EnterAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnexionAdmin</servlet-name>
        <servlet-class>servlets.DeconnexionAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServelet</servlet-name>
        <url-pattern>/LoginServelet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVille</servlet-name>
        <url-pattern>/admin/ListVille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionPageAdmin</servlet-name>
        <url-pattern>/admin/GestionPageAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionPageAjout</servlet-name>
        <url-pattern>/admin/GestionPageAjout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeClientServlet</servlet-name>
        <url-pattern>/admin/ListeClientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeCompagnie</servlet-name>
        <url-pattern>/admin/ListeCompagnie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeTrain</servlet-name>
        <url-pattern>/admin/ListeTrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeTrajet</servlet-name>
        <url-pattern>/admin/ListeTrajet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeHorraireTrain</servlet-name>
        <url-pattern>/admin/ListeHorraireTrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListeVoyage</servlet-name>
        <url-pattern>/admin/ListeVoyage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVille</servlet-name>
        <url-pattern>/admin/DeleteVille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTrain</servlet-name>
        <url-pattern>/admin/DeleteTrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCompagnie</servlet-name>
        <url-pattern>/admin/DeleteCompagnie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTrajet</servlet-name>
        <url-pattern>/DeleteTrajet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHorraireTrain</servlet-name>
        <url-pattern>/admin/DeleteHorraireTrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteVoyage</servlet-name>
        <url-pattern>/admin/DeleteVoyage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutVille</servlet-name>
        <url-pattern>/admin/AjoutVille</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutCompagnie</servlet-name>
        <url-pattern>/admin/AjoutCompagnie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutTrain</servlet-name>
        <url-pattern>/admin/AjoutTrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutTrajet</servlet-name>
        <url-pattern>/admin/AjoutTrajet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutHorraireTrain</servlet-name>
        <url-pattern>/admin/AjoutHorraireTrain</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjoutVoyage</servlet-name>
        <url-pattern>/admin/AjoutVoyage</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <servlet-mapping>
        <servlet-name>SimpleSearch</servlet-name>
        <url-pattern>/SimpleSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disconnection</servlet-name>
        <url-pattern>/Disconnection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Voir</servlet-name>
        <url-pattern>/Voir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyReservations</servlet-name>
        <url-pattern>/MyReservations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GestionPageClient</servlet-name>
        <url-pattern>/GestionPageClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetToAdmin</servlet-name>
        <url-pattern>/traintravel.admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/admin/LoginAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnterAdmin</servlet-name>
        <url-pattern>/admin/EnterAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnexionAdmin</servlet-name>
        <url-pattern>/admin/DeconnexionAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVilleHome</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
